.navbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays on top */
}
#logo-img {
  width: 12rem;
}
.menu-btn {
  margin-top: -5px;
  width: 2rem;
  height: 3rem;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background: linear-gradient(90deg, #fff -0.13%, #fff 99.87%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}

.menu-btn:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

@media (max-width: 768px) {
  #logo-img {
    width: 10rem;
  }
  .menu-btn {
    display: block;
  }
  nav {
    position: sticky;
    top: 0;
  }
  .nav-item i {
    width: 20px;
  }
}
