.signup-btn {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically (if needed) */
  margin: 0 auto; /* Centers the container itself horizontally */
}

.signup-button {
  width: 300px;
  height: 50px;
  background-color: #387ed1;
  border: none; /* Removes default border */
  border-radius: 0.5rem; /* Rounded corners */
  color: white; /* Button text color */
  padding: 0.5rem 1rem; /* Adjust padding for button */
  font-size: 1rem; /* Adjust font size as needed */
}
.signup-button:hover {
  background-color: #2a60a3;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .signup-btn {
    max-width: 300px; /* Adjust for smaller screens */
  }
  .signup-button {
    width: 250px;
    height: 40px;
    background-color: #387ed1;
  }
}
